{% extends "base.html" %}
{% block content %}
<!-- Navbar -->
{%include "core/navbar.html" %}
<!-- Navbar -->

<!--Carousel Wrapper-->

<!--/.Carousel Wrapper-->

<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container">
        <div class="table-responsive text-nowrap">
            <h2>Order Summary</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Item Pice</th>
                    </tr>
                </thead>
                <tbody>
                    {% if order %}
                    {% for order_item in order.items.all %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ order_item.item.title }}</td>
                        <td>{{ order_item.item.price }}</td>
                        <td>{{ order_item.quantity }}</td>
                        <td>Cell</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>

        </div></div>
</main>
<!--Main layout-->

<!--Footer-->
{% include "core/footer.html"%}
<!--/.Footer-->
{% endblock content %}
{% block head_title %} Order Summery {% endblock %}
