[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
django-lint = "*"
flake8 = "*"
jira = "*"
faker = "*"

[packages]
django = "==3.0.0"
django-allauth = "*"
django-extensions = "*"
django-crispy-forms = "*"
django-countries = "*"

[requires]
python_version = "3.8"
